.btnCategory>button:hover {
    color: goldenrod !important;
}
.carouselImg{
    height: 100%;
    width: 100%;
}
.carouselDiv {
    height: 175px !important;
}
.sizeElem{
    padding: 1px 5px 1px 5px;
    transition-duration: 0.5s;
}
.sizeElem:hover{
    background-color: black;
    color: white;
    transition-duration: 0.5s;
}
.productPrice{
    font-size: 20px;
    margin: 0 0 8px 8px;
}
.productAdd:hover {
    background-color: black;
    color: white;
    transition-duration: 0.75s;
}
.productAdd {
    transition-duration: 0.75s;
}

.productblue>div {
    background-color: blue;
    transition-duration: 1s;
}

.productred>div {
    background-color: red;
    transition-duration: 1s;
}

.productgreen>div {
    background-color: green;
    transition-duration: 1s;
}
.productblue>div:hover {
    transition-duration: 1s;
    background-color: lightskyblue;    
}   
.productred>div:hover {
    transition-duration: 1s;
    background-color: pink;
}
.productgreen>div:hover {
    transition-duration: 1s;
    background-color: limegreen;
}