.carouselImg{
    height: 100%;
    width: 100%;
}
.carouselDiv {
    height: 175px !important;
}
.sizeElem{
    padding: 1px 5px 1px 5px;
}
.productPrice{
    font-size: 20px;
    margin: 0 0 8px 8px;
}
.productAdd:hover {
    background-color: black;
    color: white;
    transition-duration: 0.75s;
}
.productAdd {
    transition-duration: 0.75s;
}

.productblue>div {
    background-color: blue;
}

.productred>div {
    background-color: red;
}

.productgreen>div {
    background-color: green;
}